@import url('https://fonts.googleapis.com/css?family=Barlow:100,300,400,500,600,700');

*,html,body {
    margin:0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

body {
    line-height: 1;
    background: black;
}

.container-background {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    .page-background {
        position: absolute;
        left: -10%;
        top: -10%;
        width: 150%;
        height: 150vh;
        background: url("https://happywall-img-gallery.imgix.net/647/city_lights_display.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        filter: blur(45px);
        z-index: 1;
    }
    .center-site {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        z-index: 2;
        .container-site {
            display: grid;
            grid-template-columns: 60px 250px 1fr;
            height: 80vh;
            width: 1000px;
            border-radius: 10px;
            overflow: hidden;
            .navigation {
                background: #0e268e; /* Old browsers */
                background: -moz-linear-gradient(top, #0e268e 0%, #9267d3 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #0e268e 0%,#9267d3 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #0e268e 0%,#9267d3 100%);
                ul {
                    li {
                        display: block;
                        list-style: none;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 80px;
                        font-size: 1.5rem;
                        i {
                            cursor: pointer;
                        }
                    }
                }
            }
            .user-profile {
                background: #002497; /* Old browsers */
                background: -moz-linear-gradient(top, #002497 0%, #a176ec 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #002497 0%,#a176ec 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #002497 0%,#a176ec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                .name {
                    font-size: 1.3rem;
                    color: white;
                    font-weight: 400;
                    text-align: center;
                    padding: 32px 0;
                    letter-spacing: 2px;
                }
                .border-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // padding: 0 0 25px;
                    border: 3px dashed #3847ae;
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    margin: 0 auto;
                    .user-img {
                        background-image: url("https://images-na.ssl-images-amazon.com/images/M/MV5BMTIyOTc0MjE5NV5BMl5BanBnXkFtZTcwNjgyODQwMg@@._V1_UY256_CR6,0,172,256_AL_.jpg");
                        background-size: cover;
                        background-position-y: -5px;
                        background-repeat: no-repeat;
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                    }
                }
                .user-position {
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: white;
                    text-align: center;
                    padding-top: 30px;
                }
                .user-skills {
                    width: 100%;
                    text-align: center;
                    padding: 20px 0;
                    // line-height: 1.3em;
                    .title {
                        font-size: 1.3rem;
                        font-weight: 400;
                        color: white;
                        margin: 20px 0;
                    }
                    .skill {
                        background: #6761c7;
                        color: white;
                        font-weight: 300;
                        font-size: .9rem;
                        border-radius: 4px;
                        padding: 5px 15px; 
                        margin-bottom: 3px;
                        display: inline-block;
                        transition: all .3s ease-in-out;
                        cursor: pointer;
                        &:hover {
                            color: #313cb2;
                            background: #fff;
                        }
                    }
                }
            }
            .content-area {
                background: #f8f7fc;
                padding: 30px 40px;
                .hire-status {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    margin-bottom: 20px;
                    .primary-btn {
                        background: #57bcfe;
                        text-decoration: none;
                        padding: 10px 20px;
                        border-radius: 30px;
                        color: white;
                        font-weight: 400;
                        text-transform: uppercase;
                        box-shadow: 0px 4px 20px rgba(87, 187, 254, 0.60);
                    }
                }
                .container-about {
                    background: white;
                    border-radius: 4px;
                    padding: 20px;
                    margin-bottom: 20px;
                    box-shadow: 0px 10px 126px rgba(106,110,161, .33);
                    h2 {
                        color: #3f3f65;
                        font-size: 1.6rem;
                        text-transform: capitalize;
                        font-weight: 600;
                        margin-bottom: 20px;
                    }
                    p {
                        color: #6a6ea1;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        margin-bottom: 10px;
                        
                    }
                }
                .social-media {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    .social {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        transition: .3s;
                        cursor: pointer;
                        &:hover {
                            color: #57bcfe;
                        }
                        .logo {
                            font-size: 2.5rem;
                            margin-bottom: 5px;
                        }
                        .stats {
                            span {
                                display: block;
                                text-align: center;
                                font-size:1.5rem;
                                padding-right: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
// Container-background
}

























// display: flex;
// justify-content: center;
// align-items: center;
// width 100%;
// hieght: 100vh;
// position: absolute;
// top: 0;
// left: 0;
// }

// .container-site{
//     display: grid;
//     height: 80vh;
//     width: 1400px;
//     background: white;
//     border-radius: 10px;
// }












