@import url("https://fonts.googleapis.com/css?family=Barlow:100,300,400,500,600,700");
*, html, body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}

body {
  line-height: 1;
  background: black;
}

.container-background {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.container-background .page-background {
  position: absolute;
  left: -10%;
  top: -10%;
  width: 150%;
  height: 150vh;
  background: url("https://happywall-img-gallery.imgix.net/647/city_lights_display.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-filter: blur(45px);
          filter: blur(45px);
  z-index: 1;
}

.container-background .center-site {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.container-background .center-site .container-site {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 250px 1fr;
      grid-template-columns: 60px 250px 1fr;
  height: 80vh;
  width: 1000px;
  border-radius: 10px;
  overflow: hidden;
}

.container-background .center-site .container-site .navigation {
  background: #0e268e;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#0e268e), to(#9267d3));
  background: linear-gradient(to bottom, #0e268e 0%, #9267d3 100%);
}

.container-background .center-site .container-site .navigation ul li {
  display: block;
  list-style: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  font-size: 1.5rem;
}

.container-background .center-site .container-site .navigation ul li i {
  cursor: pointer;
}

.container-background .center-site .container-site .user-profile {
  background: #002497;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#002497), to(#a176ec));
  background: linear-gradient(to bottom, #002497 0%, #a176ec 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.container-background .center-site .container-site .user-profile .name {
  font-size: 1.3rem;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 32px 0;
  letter-spacing: 2px;
}

.container-background .center-site .container-site .user-profile .border-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px dashed #3847ae;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}

.container-background .center-site .container-site .user-profile .border-img .user-img {
  background-image: url("https://images-na.ssl-images-amazon.com/images/M/MV5BMTIyOTc0MjE5NV5BMl5BanBnXkFtZTcwNjgyODQwMg@@._V1_UY256_CR6,0,172,256_AL_.jpg");
  background-size: cover;
  background-position-y: -5px;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.container-background .center-site .container-site .user-profile .user-position {
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  text-align: center;
  padding-top: 30px;
}

.container-background .center-site .container-site .user-profile .user-skills {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.container-background .center-site .container-site .user-profile .user-skills .title {
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
  margin: 20px 0;
}

.container-background .center-site .container-site .user-profile .user-skills .skill {
  background: #6761c7;
  color: white;
  font-weight: 300;
  font-size: .9rem;
  border-radius: 4px;
  padding: 5px 15px;
  margin-bottom: 3px;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.container-background .center-site .container-site .user-profile .user-skills .skill:hover {
  color: #313cb2;
  background: #fff;
}

.container-background .center-site .container-site .content-area {
  background: #f8f7fc;
  padding: 30px 40px;
}

.container-background .center-site .container-site .content-area .hire-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20px;
}

.container-background .center-site .container-site .content-area .hire-status .primary-btn {
  background: #57bcfe;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 4px 20px rgba(87, 187, 254, 0.6);
          box-shadow: 0px 4px 20px rgba(87, 187, 254, 0.6);
}

.container-background .center-site .container-site .content-area .container-about {
  background: white;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 10px 126px rgba(106, 110, 161, 0.33);
          box-shadow: 0px 10px 126px rgba(106, 110, 161, 0.33);
}

.container-background .center-site .container-site .content-area .container-about h2 {
  color: #3f3f65;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 20px;
}

.container-background .center-site .container-site .content-area .container-about p {
  color: #6a6ea1;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
}

.container-background .center-site .container-site .content-area .social-media {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.container-background .center-site .container-site .content-area .social-media .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.container-background .center-site .container-site .content-area .social-media .social:hover {
  color: #57bcfe;
}

.container-background .center-site .container-site .content-area .social-media .social .logo {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.container-background .center-site .container-site .content-area .social-media .social .stats span {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  padding-right: 2px;
}
/*# sourceMappingURL=main.css.map */